@inherits ScenarioListBase

<div class="scenario-list vh-100 container">
    @foreach (var scenario in hariaServices.State.Scenarios)
    {
        <div class="row scenario @(hariaServices.State.CurrentScenarioId == scenario.Id ? "scenario-selected": "scenario-inactive")">
            <div class="col-12">
                @scenario.Name
            </div>
        </div>
    }
</div>