@page "/"
@inherits DashboardBase

@if (hariaServices.State.LoggedUser != null)
{

    @if (Loading)
    {
        <Loading />
    }
    else if (hariaServices.State.Scenarios.Any())
    {
        <div class="vh-100">
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                    <ScenarioList />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="vh-100">
            <div class="no-data">
                @Translate.NoData
            </div>
        </div>
    }
}
else
{
    <div class="text-center">
        <div class="login-tip text-center">
            <img src="/images/triangle_Purple.svg" class="login-tip-image" />
        </div>
    </div>
}