@inherits MainLayoutBase

<link href="css/@(Theme).css" rel="stylesheet" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>