@inherits NavMenuBase;

<div class="top-row navbar-dark">
    <img src="images/Emulator_Logo.svg" class="logo" />
    @if (hariaServices.State.LoggedUser != null)
    {
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    }
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        @if (hariaServices.State.LoggedUser != null)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home mr-2" aria-hidden="true"></span>@Translate.Dashboard
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="nodes">
                    <span class="oi oi-grid-three-up mr-2" aria-hidden="true"></span>@Translate.Nodes
                </NavLink>
            </li>
        }
    </ul>
    <div class="pin-button" @onclick="ToggleMenuPin">
        <span class="oi oi-pin mr-2 pin-icon @(hariaServices.State.MenuPinned ? "pin-icon-active" : "")" aria-hidden="true"></span>
    </div>
</div>