.login-tip {
    position: fixed;
    right: 10rem;
    top: 4.5rem;
    width: 10rem;
}

.login-tip-image {
    width: 100%;
}

.devices {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.nodata-card {
    background-color: var(--background-hover);
    height: 7rem;
    width: 25rem;
    margin: 0.5rem;
    text-align: center;
}

@media (max-width: 640.98px) {
    .login-tip {
        top: 8.5rem;
    }
}