.collapsible {    
    transition-property: transform,all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background: var(--background-hover);
    border-color: var(--button-color);
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
}