@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'LexendMega';
    src: url('/fonts/LexendMega-Regular.ttf');
    font-style: italic;
}

html, body {
    font-family: 'Roboto';
    background-color: var(--background);
    color: var(--font-color);
}

a, .btn-link {
    color: var(--font-color-light);
}

.btn-primary {
    color: var(--font-color-light);
    background-color: var(--background);
    border-color: var(--background);
}

.content {
    padding-top: 1.1rem;
}

.input-sm {
    height: 25px !important;
    width: 120px !important;
}

.button {
    border: none;
    background-color: transparent;
    color: var(--fonr-color);
}

    .button :focus {
        outline: none;
    }

.button-solid {
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--font-color-light);
    -moz-box-shadow: var(--button-color-dark) 1px 1px 3px;
    -webkit-box-shadow: var(--button-color-dark) 1px 1px 3px;
    box-shadow: var(--button-color-dark) 1px 1px 3px;
}

    .button-solid :focus {
        outline: none;
        -moz-box-shadow: var(--button-color-dark) 2px 2px 3px;
        -webkit-box-shadow: var(--button-color-dark) 2px 2px 3px;
        box-shadow: var(--button-color-dark) 2px 2px 3px;
    }

.label-error {
    color: var(--font-color-error);
}

.collapsed {
    height: 0px;
    overflow-y: hidden;
    border-style: none !important;
}

.expanded {
    height: 10rem;
    overflow-y: scroll;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--background);
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }