.logo {
    height: 2rem;
    padding-left: 0.7rem;
}

.logo-text {
    font-family: 'LexendMega';
    margin: auto;
    font-weight: bold;
}

.navbar-toggler {
    background-color: var(--navbar-toggler);
}

.top-row {
    height: 3.5rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.pin-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 1rem;
    cursor: pointer;
    display: none;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: var(--font-color-light);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .pin-button {
        display: block;
    }
}